<form method="post" action="{{ path('app_product_delete', {'id': product.id}) }}" onsubmit="return confirm('🚮 Voulez-vous vraiment supprimer ce produit ? Cette action est irréversible.');", style="display: inline;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button type="submit" class="btn btn-sm btn-danger rounded-3" style="font-weight: 500;">Supprimer</button>
</form>
