<form method="post" action="{{ path('app_qualite_delete', {'id': qualite.id}) }}" onsubmit="return confirm('🚮 Voulez-vous vraiment supprimer cette qualité ? Tous les produits associés seront supprimés.');", style="display: inline;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ qualite.id) }}">
    <button type="submit" class="btn btn-sm btn-danger rounded-3" style="font-weight: 500;">Supprimer</button>
</form>
